sbatch.log
slurm-pipeline.log
slurm-pipeline.done
status.json
*.fastq.gz
*/slurm-*.out
01-trim/*.discarded.gz
01-trim/*.settings
01-trim/*.fastq.gz
01-trim/*.truncated.gz
02-flash/out.*
02-flash/*.out
03-map/*.out
03-map/*.bam
04-find-unmapped/*.fastq.gz
04-find-unmapped/*.out
04-diamond/*.json.bz2
04-diamond/*.out
05-panel/out
05-panel/summary-proteins
05-panel/summary-viruses
